.css-11xur9t-MuiPaper-root-MuiTableContainer-root {
    box-shadow: none !important;
}

.status {
    background-color: #FFEFEF;
    color: #971D1D;
    padding: 5px 10px;
    border-radius: 8px;
    width: 99px;
    height: 19px;
}